.joke {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  border: 1px dotted black;
  padding: 0.5rem;
  animation: 300ms ease-in-out slide;
  list-style: none;

  &__date {
    color: gray;
    font-size: 0.75rem;
  }
  &__categories {
    color: red;
  }

  .action {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      min-width: max-content;
      width: 100%;
      cursor: pointer;
    }
  }
}

p {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .joke {
    flex-direction: column;
  }
}

@keyframes slide {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
