<li class="joke">
  <div class="description">
    <p class="joke__text">{{jokeData().value}}</p>
    <div class="joke__categories">
      @for (category of jokeData().categories; track $index) {
      <div class="category-pill">{{category}}</div>
      }
    </div>
    <span class="joke__date"> {{jokeData().created_at | date: 'yyyy-MM-dd HH:mm:ss'}} </span>
  </div>
  <div class="action">
    @let favourited = isFavourite(jokeData().id);
    <button (click)="toggleFavourite(jokeData())" class="favourite" [ngClass]="{'starred': favourited}">
      <span class="favourite__star">{{ favourited ? '★' : '☆'}}</span>
      <span class="favourite__text">{{ favourited ? 'Remove from' : 'Add to'}} favourites</span>
    </button>
  </div>
</li>
