.joke {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  border: 1px dotted black;
  border-radius: 0.25rem;
  padding: 0.5rem;
  animation: 300ms ease-in-out slide;
  list-style: none;

  &__date {
    color: gray;
    font-size: 0.75rem;
  }
  &__categories {
    .category-pill {
      display: flex;
      justify-content: center;
      align-items: center;
      width: min-content;
      padding: 0.25rem 0.5rem;
      border: 1px dashed var(--chuck-orange);
      color: var(--chuck-orange);
      border-radius: 1rem;
    }
  }
  &__text {
    word-break: break-word;
  }

  .action {
    display: flex;
    justify-content: right;
    align-items: center;

    .favourite {
      display: flex;
      gap: 0.25rem;
      min-width: max-content;
      background-color: transparent;
      border: 1px solid transparent;
      padding: 0.5rem;
      border-radius: 0.25rem;

      &:hover {
        background-color: var(--chuck-blue-opaque);
        box-shadow: 1px 1px black;
      }
      &:active {
        border-color: var(--chuck-blue);
      }
      &.starred:hover {
        background-color: var(--chuck-orange-opaque);
      }
      &.starred:active {
        border-color: var(--chuck-orange);
      }

      &.starred {
        .favourite__star {
          color: var(--chuck-orange);
        }
      }

      &__star {
        font-size: 1.5rem;
        color: var(--chuck-blue);
        filter: drop-shadow(1px 1px black);
      }
      &__text {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .joke {
    flex-direction: column;
  }
}

@media (pointer: coarse) {
  .joke {
    .action {
      .favourite {
        border-color: var(--chuck-blue);
        box-shadow: 1px 1px black;
        &.starred {
          border-color: var(--chuck-orange);
        }
      }
    }
  }
}

@keyframes slide {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
