.timer-container {
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: max-content;
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    border-radius: 0.25rem;

    &:hover {
      background-color: var(--chuck-orange-opaque);
    }
  }
}

@property --percentage {
  initial-value: 0%;
  inherits: false;
  syntax: "<percentage>";
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  color: var(--chuck-orange);
  filter: drop-shadow(1px 1px black);

  &.active {
    background: conic-gradient(var(--chuck-orange) var(--percentage), transparent 0);
    border-radius: 50%;
    animation: timer 5s infinite linear;
  }
}

@keyframes timer {
  to {
    --percentage: 100%;
  }
}
