/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;1,100&display=swap");

@font-face {
  font-family: "ChuckNorris";
  src: url("app/fonts/04B_30__.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --chuck-orange: #f15b23;
  --chuck-orange-opaque: rgba(241, 90, 35, 0.2);
  --chuck-blue: #29abe2;
  --chuck-blue-opaque: rgba(41, 170, 226, 0.2);
}

html * {
  font-family: "Roboto mono", "Courier New";
  font-weight: 200;
}

a,
button {
  cursor: pointer;
}

h1,
h2 {
  font-family: "ChuckNorris";
  color: var(--chuck-orange);
  text-shadow: 1px 1px #222222;
}

p,
ul,
body {
  margin: 0;
}

.jokes-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  overflow: hidden;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.5rem;
  }
}
