nav {
  display: flex;
  gap: 1rem;
  padding: 1rem 1rem 0 1rem;

  a {
    color: var(--chuck-blue);

    &.route-active {
      color: var(--chuck-orange);
      font-weight: 700;
    }
    &:visited:not(.route-active) {
      color: var(--chuck-blue);
    }
  }
}
