nav {
  display: flex;
  gap: 1rem;

  a {
    font-family: "Courier New", Courier, monospace;

    &.route-active {
      color: var(--chuck-orange);
    }
    &:visited:not(.route-active) {
      color: var(--chuck-blue);
    }
  }
}
